* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.navBar {
  padding: 10px; 
}
.logo {
width: 100px;
}
.nav {
  list-style: none; 
  padding: 0; 
  display: flex; 
}
.nav li {
  margin-right: 20px;
}
.nav a {
  text-decoration: none; 
  color: black;
  text-transform: capitalize;
}
.nav a:hover {
  text-decoration: underline;
}

/* =================search section================= */
.search-section {
  background-color: #f7f7f7;
}
.searching {
  width: 50%;
}
.inputSearch {
  background-color: #f7f7f7;
  width: 80%;
  outline: none;
}
.selectMedia {
  width: 200px;
}
